<section class="min-h-screen bg-[#fbfbfd] flex items-center justify-center px-6">
  <div class="max-w-md w-full">
    <!-- Branding sutil -->
    <header class="text-center mb-16">
      <h2 class="serif text-5xl tracking-tighter mb-4 italic">Pardo.</h2>
      <p class="text-[10px] uppercase tracking-[0.3em] text-gray-400 font-bold">
        Access your collection
      </p>
    </header>

    <form (submit)="onLogin()" class="space-y-10">
      <!-- Input Email -->
      <div
        class="relative border-b border-black/10 focus-within:border-black transition-colors duration-500"
      >
        <label class="block text-[9px] uppercase tracking-widest text-gray-400 mb-2 font-bold"
          >Email Address</label
        >
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="w-full bg-transparent py-3 outline-none text-lg font-light tracking-tight italic"
          placeholder="email@luxury.com"
          required
        />
      </div>

      <!-- Input Password -->
      <div
        class="relative border-b border-black/10 focus-within:border-black transition-colors duration-500"
      >
        <label class="block text-[9px] uppercase tracking-widest text-gray-400 mb-2 font-bold"
          >Password</label
        >
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="w-full bg-transparent py-3 outline-none text-lg font-light tracking-tight italic"
          placeholder="••••••••"
          required
        />
      </div>

      <!-- Error Message -->
      @if (errorMessage()) {
        <p
          class="text-[10px] text-red-500 uppercase tracking-widest text-center animate-in fade-in duration-300"
        >
          {{ errorMessage() }}
        </p>
      }

      <!-- Acciones -->
      <div class="pt-6 space-y-6">
        <button
          (click)="onLogin()"
          type="submit"
          [disabled]="isLoading()"
          class="w-full bg-black text-white py-5 rounded-full text-[10px] uppercase tracking-[0.3em] font-bold hover:bg-gray-800 transition-all active:scale-95 disabled:opacity-30"
        >
          {{ isLoading() ? 'Verifying...' : 'Sign In' }}
        </button>

        <div class="text-center">
          <a
            routerLink="/register"
            class="text-[10px] uppercase tracking-widest text-gray-400 hover:text-black transition-colors border-b border-transparent hover:border-black pb-1"
          >
            Create an account
          </a>
        </div>
      </div>
    </form>
  </div>
</section>
