<nav
  [class.scrolled]="isScrolled()"
  class="fixed top-0 w-full z-[100] transition-all duration-500 px-6 md:px-12 py-6 flex justify-between items-center"
>
  <!-- Logo -->
  <a routerLink="/catalog" class="text-2xl font-bold tracking-tighter italic serif outline-none">
    Pardo.
  </a>

  <!-- Menu Central (Opcional, muy sutil) -->
  <div
    class="hidden md:flex space-x-12 text-[10px] uppercase tracking-[0.3em] font-semibold text-gray-500"
  >
    <a routerLink="/" class="hover:text-black transition-colors">Collection</a>
    <a class="hover:text-black transition-colors cursor-pointer">Archive</a>
  </div>

  <!-- Carrito -->
  <div class="flex items-center">
    <a routerLink="/cart" class="group relative flex items-center gap-3 outline-none">
      <span
        class="text-[10px] uppercase tracking-widest font-bold text-gray-400 group-hover:text-black transition-colors"
      >
        Your Cart
      </span>

      <!-- Contador con Signal -->
      <div class="relative">
        <svg class="w-5 h-5 stroke-[1.5px]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
        </svg>

        @if (cartStore.count() > 0) {
          <span
            class="absolute -top-1 -right-1 bg-black text-white text-[8px] w-4 h-4 flex items-center justify-center rounded-full animate-in fade-in zoom-in duration-300"
          >
            {{ cartStore.count() }}
          </span>
        }
      </div>
    </a>
    <a routerLink="/profile" class="group relative flex items-center gap-3 outline-none">
      <span
        class="text-[10px] uppercase tracking-widest font-bold text-gray-400 group-hover:text-black transition-colors"
      >
        Profile
      </span>
    </a>
  </div>
</nav>
