@import 'tailwindcss';

:root {
  --pardo: #8b5e3c;
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

* {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

html,
body {
  background-color: #fcfcfc;
  color: #111111;
  margin: 0;
  height: 100%;
  width: 100%;
}

.bezier-luxury {
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
